In [1]:
#pandas - Dataframes : table format data structure. Similiar of DF in Apache Spark.

import pandas as pd

In [3]:
#Create Series from Lists
s1= pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
d1={"Spark":10,"Flink":20,"MapReduce":30}
engines=pd.Series(d1)
print(engines)

Spark        10
Flink        20
MapReduce    30
dtype: int64

In [8]:
#Dataframe from Dictionary. Keys become the column name

In [9]:
student={"Student_name":['Bob','John','Wick'],"Student_Marks":[10,20,30]}

In [10]:
stdDF=pd.DataFrame(student)
print(stdDF)

  Student_name  Student_Marks
0          Bob             10
1         John             20
2         Wick             30

In [11]:
#Dataframe from csv file

In [31]:
goi = pd.read_csv("/Users/shigarg1/Downloads/GOI.csv")

In [40]:
goi.head(1100)

,Category,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
0,Country,INDIA,64.8,73.0,58.7,67.8,79.9,84.1
1,State,Andhra Pradesh,60.5,67.0,54.5,60.4,76.1,80.1
2,State,Arunachal Pradesh,54.3,65.4,47.8,59.9,78.3,82.9
3,State,Assam,63.3,72.2,59.7,69.3,85.3,88.5
4,State,Bihar,47.0,61.8,43.9,59.8,71.9,76.9
5,State,Chhattisgarh,64.7,70.3,60.5,66.0,80.6,84.0
6,State,Goa,82.0,88.7,79.7,86.6,84.4,90.0
7,State,Gujarat,69.1,78.0,61.3,71.7,81.8,86.3
8,State,Haryana,67.9,75.6,63.2,71.4,79.2,83.1
9,State,Himachal Pradesh,76.5,82.8,75.1,81.9,88.9,91.1
10,State,Jammu & Kashmir,55.5,67.2,49.8,63.2,71.9,77.1
11,State,Jharkhand,53.6,66.4,45.7,61.1,79.1,82.3
12,State,Karnataka,66.6,75.4,59.3,68.7,80.6,85.8
13,State,Kerala,90.9,94.0,90.0,93.0,93.2,95.1
14,State,Madhya Pradesh,63.7,69.3,57.8,63.9,79.4,82.8
15,State,Maharashtra,76.9,82.3,70.4,77.0,85.5,88.7
16,State,Manipur,70.5,76.9,67.3,73.4,79.3,85.4
17,State,Meghalaya,62.6,74.4,56.3,69.9,86.3,90.8
18,State,Mizoram,88.8,91.3,81.3,84.1,96.1,97.6
19,State,Nagaland,66.6,79.6,62.8,75.3,84.7,89.6
20,State,Odisha,63.1,72.9,59.8,70.2,80.8,85.7
21,State,Punjab,69.7,75.8,64.7,71.4,79.1,83.2
22,State,Rajasthan,60.4,66.1,55.3,61.4,76.2,79.7
23,State,Sikkim,68.8,81.4,66.8,78.9,83.9,88.7
24,State,Tamil Nadu,73.5,80.1,66.2,73.5,82.5,87.0
25,State,Tripura,73.2,87.2,69.7,84.9,89.2,93.5
26,State,Uttar Pradesh,56.3,67.7,52.5,65.5,69.8,75.1
27,State,Uttarakhand,71.6,78.8,68.1,76.3,81.4,84.5
28,State,West Bengal,68.6,76.3,63.4,72.1,81.2,84.8
29,Union Territory,A & N Islands,81.3,86.6,78.7,84.5,86.6,90.1
30,Union Territory,Chandigarh,81.9,86.0,75.6,80.7,82.6,86.2
31,Union Territory,D & N Haveli,57.6,76.2,49.3,64.1,84.4,89.8
32,Union Territory,Daman & Diu,78.2,87.1,75.8,81.4,82.3,89.0
33,Union Territory,Lakshadweep,86.7,91.8,85.0,91.6,88.6,91.9
34,Union Territory,NCT of Delhi,81.7,86.2,78.1,81.9,81.9,86.3
35,Union Territory,Puducherry,81.2,85.8,74.0,80.1,84.8,88.5

In [39]:
goi.tail(3)

,Category,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
33,Union Territory,Lakshadweep,86.7,91.8,85.0,91.6,88.6,91.9
34,Union Territory,NCT of Delhi,81.7,86.2,78.1,81.9,81.9,86.3
35,Union Territory,Puducherry,81.2,85.8,74.0,80.1,84.8,88.5

In [35]:
goi.describe()

,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,69.433333,77.711111,64.669444,73.413889,82.161111,86.283333
std,10.647709,8.497723,11.459440,9.190497,5.463138,4.982856
min,47.000000,61.800000,43.900000,59.800000,69.800000,75.100000
25%,62.975000,71.725000,57.425000,65.875000,79.275000,83.175000
50%,68.700000,76.600000,63.300000,71.900000,81.850000,86.250000
75%,77.225000,85.850000,74.275000,80.875000,84.925000,89.650000
max,90.900000,94.000000,90.000000,93.000000,96.100000,97.600000

In [45]:
goi.iloc[20:23,0:4]

,Category,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011
20,State,Odisha,63.1,72.9
21,State,Punjab,69.7,75.8
22,State,Rajasthan,60.4,66.1

In [49]:
goi.loc[20:23,("Country/ States/ Union Territories Name","Literacy Rate (Persons) - Total - 2001","Literacy Rate (Persons) - Total - 2011")]

,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011
20,Odisha,63.1,72.9
21,Punjab,69.7,75.8
22,Rajasthan,60.4,66.1
23,Sikkim,68.8,81.4

In [55]:
#Operations on DataFrame

literateStates = goi[(goi['Literacy Rate (Persons) - Total - 2011'] > 50) & (goi['Category'] == "State")]

In [56]:
literateStates.head(10)

,Category,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
1,State,Andhra Pradesh,60.5,67.0,54.5,60.4,76.1,80.1
2,State,Arunachal Pradesh,54.3,65.4,47.8,59.9,78.3,82.9
3,State,Assam,63.3,72.2,59.7,69.3,85.3,88.5
4,State,Bihar,47.0,61.8,43.9,59.8,71.9,76.9
5,State,Chhattisgarh,64.7,70.3,60.5,66.0,80.6,84.0
6,State,Goa,82.0,88.7,79.7,86.6,84.4,90.0
7,State,Gujarat,69.1,78.0,61.3,71.7,81.8,86.3
8,State,Haryana,67.9,75.6,63.2,71.4,79.2,83.1
9,State,Himachal Pradesh,76.5,82.8,75.1,81.9,88.9,91.1
10,State,Jammu & Kashmir,55.5,67.2,49.8,63.2,71.9,77.1